Repository caas-team/new-pykube: changes, and which pre-commit hooks are due for each by the changed paths.
All: prevent-todo-comments, prevent-too-small-headings, prevent-invalid-alert-types, poetry

prevent-todo-comments:
  name: prevent todo comments
  entry: '# *(TODO|FIXME)\b'
  language: pygrep

prevent-too-small-headings:
  name: prevent too small headings
  entry: '^#{5,} '
  language: pygrep

prevent-invalid-alert-types:
  name: prevent invalid alert types
  entry: (?i)^> \[!(?!\b(?:NOTE|TIP|IMPORTANT|WARNING|CAUTION)\b).+\]
  language: pygrep

poetry:
  name: poetry
  description: Validates the structure of the pyproject.toml file
  entry: poetry check
  language: system
  pass_filenames: false
  stages:
  - pre-push

chore: bumped dependencies and pyproject.toml version to 25.10.0
  poetry.lock
  pyproject.toml
Due: poetry

chore: bumping dependencies november 25
  poetry.lock
  pyproject.toml
Due: poetry

feat: release 26.1.0
  .github/workflows/build-publish-package.yml
  .github/workflows/python-tests.yml
  .pre-commit-config.yaml
  .travis.yml
  README.md
  poetry.lock
  pyproject.toml
Due: prevent-too-small-headings, prevent-invalid-alert-types, poetry

chore: test string
  .github/workflows/python-tests.yml
Due: none

feat: release 26.1.0 (#45)
  .github/workflows/build-publish-package.yml
  .github/workflows/python-tests.yml
  .pre-commit-config.yaml
  .travis.yml
  README.md
  poetry.lock
  pyproject.toml
Due: prevent-too-small-headings, prevent-invalid-alert-types, poetry

fix: python version string
  .github/workflows/build-publish-package.yml
Due: none

update other deps
  .pre-commit-config.yaml
  poetry.lock
Due: none

Fix/python (#49)
  .github/workflows/build-publish-package.yml
  .pre-commit-config.yaml
  poetry.lock
Due: none

chore: update dependencies
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: poetry

chore: update dependencies (#51)
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: poetry

chore: bumping dependencies march 2026
  poetry.lock
Due: none

chore: updated app version
  pyproject.toml
Due: poetry

Path conditions:
  prevent-todo-comments: any of: \.py$
  prevent-too-small-headings: any of: \.md$
  prevent-invalid-alert-types: any of: \.md$
  poetry: any of: ^pyproject.toml$
